body{
    background-image:linear-gradient(orange,red);
}
form {
    margin: 0 auto;
    width: 55%;
    padding: 1em;
    border: 5px solid #CCC;
    border-radius: 1em;
}

    form div + div {
        margin-top: 0em;
    }

label {
    display: inline-block;
}

.label-name {
    width: 25%;
    text-align: left;
}

input, textarea {
    font: 1em sans-serif;
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #999;
}

    input:focus, textarea:focus {
        border-color: orange;
    }

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

input[type=radio], input[type=checkbox] {
    width: 20px;
    cursor: pointer;
}

#result_grid {
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    border: 3px solid #CCC;
    border-radius: 1em;
}

table {
    border-spacing: 8px;
}

button {
    width: 100px;
}